* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: rgb(7, 7, 117);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

header {
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 100%;
  display: flex;
  font-size: 2.3em;
  align-items: center;
  padding-left: 20px;
  font-weight: 600;
}

.noune {
  color: navy;
}

.exhange {
  color: rgb(22, 11, 122);
}

main {
  position: relative;
  background-color: white;
  height: 400px;
  width: 50%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.convert_section {
  display: flex;
  gap: 20px;
}

h1 {
  position: absolute;
  top: 50px;
  color: navy;
  text-transform: uppercase;
  font-weight: 600;
}

select,
input {
  border-radius: 5px;
  box-shadow: none;
  border-color: #cababa;
  padding: 10px;
  width: 100px;
  height: 50px;
  background-color: white;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

i {
  margin-right: 8px;
}

